@page "/repo/{id:int}"
@attribute [Authorize(Roles = "Admin, Archive")]

@using DAS.ViewModels
@using DAS.Services
@using DAS.Models
@using MW.Blazor

@inject IAdminService adminService
@inject IListsService listsService
@inject IArchiveService arcService
@inject ICurrentUserService currentUserService
@inject IToastService toastService
@inject IJSRuntime JSRuntime;

@if (currentUser != null && (currentUser.IsAdmin || currentUser.Repositories.Contains(Id)))
{
    <div class="card text-left">
        <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
                <h1 class="display-4">@LocalService.Get("Repository Details", currentUser.Lang)</h1>
                <hr />
                <blockquote class="blockquote">
                    <p class="mb-0">@Repo?.Title</p>
                    <footer class="blockquote-footer">
                        @LocalService.Get("created on", currentUser.Lang) @Repo.CreatedOn.ToString("dd-MM-yyyy")  <cite>@LocalService.Get("by", currentUser.Lang) @Repo.CreatedBy</cite>,  @LocalService.Get("last update on", currentUser.Lang) @Repo.UpdatedOn.ToString("dd-MM-yyyy hh:mm")  <cite>@LocalService.Get("by", currentUser.Lang) @Repo.UpdatedBy</cite>
                    </footer>
                </blockquote>
                <AuthorizeView Roles="Admin">
                    <button type="button" class="btn btn-lg btn-primary" role="button" data-toggle="modal" data-target="#dlg_AddFolder"> @LocalService.Get("Add Folder", currentUser.Lang)</button>
                </AuthorizeView>
                <AuthorizeView Roles="Admin">
                    <a href="/docs/upload/@Repo?.Id/" class="btn btn-lg btn-success" role="button"> @LocalService.Get("Upload", currentUser.Lang)</a>
                </AuthorizeView>

            </div>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="true">@LocalService.Get("Repository Details", currentUser.Lang)</a>
                <a class="nav-item nav-link" id="nav-meta-tab" data-toggle="tab" href="#nav-meta" role="tab" aria-controls="nav-meta" aria-selected="false">@LocalService.Get("Meta Fields", currentUser.Lang)</a>
                <a class="nav-item nav-link" id="nav-folders-tab" data-toggle="tab" href="#nav-folders" role="tab" aria-controls="nav-folders" aria-selected="false">@LocalService.Get("Folders Tree", currentUser.Lang)</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                <div class="card">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-3">@LocalService.Get("Repository Name", currentUser.Lang):</dt>
                            <dd class="col-8">@Repo.Name</dd>

                            <dt class="col-3">@LocalService.Get("Title", currentUser.Lang):</dt>
                            <dd class="col-8">@Repo.Title</dd>

                            <dt class="col-3">@LocalService.Get("Storage", currentUser.Lang):</dt>
                            <dd class="col-8">@Repo.Storage.ToString()</dd>

                            <dt class="col-3">@LocalService.Get("Path", currentUser.Lang):</dt>
                            <dd class="col-8">@Repo.Path</dd>

                            <dt class="col-3">@LocalService.Get("Description", currentUser.Lang):</dt>
                            <dd class="col-8">@Repo.Description</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-meta" role="tabpanel" aria-labelledby="nav-meta-tab">
                <div class="card d-flex flex-grow-1 flex-column">
                    <div class="card-body">
                        <AuthorizeView Roles="Admin">
                            <div class="mb-2">
                                <EditForm Context="test" Model="Item" OnValidSubmit="OnValidSetValue">
                                    <div class="form-inline">
                                        <div class="form-group mb-2">
                                            <label for="id_name" class="sr-only"> @LocalService.Get("Field Name", currentUser.Lang)</label>
                                            <InputSelect @bind-Value="Item.Name" class="form-control" id="id_name">
                                                <option value=""></option>
                                                @if (Fields != null)
                                                    {
                                                        foreach (var group in Fields.Select(x => x.Group).Distinct().OrderBy(x => x))
                                                        {
                                                        <optgroup label="@group">
                                                            @foreach (var field in Fields.Where(x => group == x.Group).OrderBy(x => x.Name))
                                                                {
                                                                <option value="@field.Name">@field.Title</option>
                                                                }
                                                        </optgroup>
                                                        }
                                                    }

                                            </InputSelect>
                                        </div>
                                        <div class="form-group mx-2 mb-2">
                                            <label for="id_value" class="sr-only"> @LocalService.Get("Field Value", currentUser.Lang)</label>
                                            @if (!string.IsNullOrEmpty(Item.Name) && Fields != null)
                                            {
                                                var field = Fields.FirstOrDefault(x => x.Name == Item.Name);
                                                if (field != null)
                                                {
                                                    if (field.FieldTag == "textarea")
                                                    {
                                                        <InputTextArea id="id_value" @bind-Value="@Item.Value" rows="3" class="form-control"></InputTextArea>
                                                    }
                                                    else if (field.FieldTag == "select")
                                                    {
                                                        <select id="id_value" @bind="Item.Value" class="form-control">@((MarkupString)field.FieldTagInputSelectItems)</select>
                                                    }
                                                    else
                                                    {
                                                        if (field.FieldFormat != null)
                                                        {
                                                            <input id="id_value" type="@field.FieldTagInputType" format-value="@field.FieldFormat" @bind="Item.Value" class="form-control" />
                                                        }
                                                        else
                                                        {
                                                            <input id="id_value" type="@field.FieldTagInputType" @bind="Item.Value" class="form-control" />
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    <InputText @bind-Value="Item.Value" class="form-control" id="id_value" placeholder=" @LocalService.Get("Field Value", currentUser.Lang)"></InputText>
                                                }
                                            }

                                        </div>
                                        <button type="submit" class="btn btn-success mx-2 mb-2"> @LocalService.Get("Set Value", currentUser.Lang)</button>
                                    </div>
                                </EditForm>
                            </div>
                        </AuthorizeView>

                        @if (ActiveFields != null)
                        {
                            <table class="table table-bordered table-sm col-6">
                                <tbody>
                                    @foreach (var group in ActiveFields.Select(x => x.Group).Distinct().OrderBy(x => x))
                                    {
                                        <tr class="bg-dark text-white d-flex">
                                            <td class="col-12">@group</td>
                                        </tr>
                                        @foreach (var meta in ActiveFields.Where(x => x.Group == group).OrderBy(x => x.Name))
                                        {
                                            <tr class="d-flex">
                                                <td class="bg-light col-6">@meta.Title</td>
                                                <td class="col-6">@Repo.Meta[meta.Name]</td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        }
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="nav-folders" role="tabpanel" aria-labelledby="nav-folders-tab">
                <div class="card d-flex flex-grow-1 flex-column">
                    <div class="card-body">
                        @if (TreeItems != null)
                        {
                            <Tree Nodes="@TreeItems" ChildSelector="@(item => item.Childs)" @bind-SelectedNode="selectedNode" @bind-ExpandedNodes="ExpandedNodes" HasChildNodes="@(item => item.Childs?.Any() == true)">
                                <TitleTemplate>
                                    <i class="oi oi-folder mr-1" style="color: darkorange;"></i>
                                    <a href="@context.Url">@context.Name</a>
                                </TitleTemplate>
                            </Tree>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="dlg_AddFolder" tabindex="-1" role="dialog" aria-labelledby="dlg_AddFolderLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <EditForm Model="FolderAddModel" OnValidSubmit="OnValidSubmitFolder">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title" id="dlg_AddFolderLabel"> @LocalService.Get("Add Folder", currentUser.Lang)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_fld_name"> @LocalService.Get("Folder Name", currentUser.Lang)</label>
                            <InputText @bind-Value="FolderAddModel.Name" id="id_fld_name" class="form-control"></InputText>
                        </div>
                        <div class="form-group">
                            <label for="id_fld_title"> @LocalService.Get("Title", currentUser.Lang)</label>
                            <InputText @bind-Value="FolderAddModel.Title" id="id_fld_title" class="form-control"></InputText>
                        </div>
                        <div class="form-group">
                            <label for="id_fld_desc"> @LocalService.Get("Description", currentUser.Lang)</label>
                            <InputTextArea @bind-Value="FolderAddModel.Description" id="id_fld_desc" class="form-control"></InputTextArea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"> @LocalService.Get("Close", currentUser.Lang)</button>
                        <button type="submit" class="btn btn-primary"> @LocalService.Get("Save", currentUser.Lang)</button>
                    </div>
                </EditForm>

            </div>
        </div>
    </div>
}


@code {

    [Parameter]
    public int Id { get; set; }

    private RepoDetailModel Repo { get; set; } = new RepoDetailModel();

    private FolderAddModel FolderAddModel { get; set; } = new FolderAddModel();

    private MetaItemEditModel Item { get; set; } = new MetaItemEditModel();

    private AppUser currentUser;

    private IEnumerable<MetaField> Fields;

    private IEnumerable<MetaField> ActiveFields => Fields?.Where(x => Repo != null && Repo.Meta != null && Repo.Meta.ContainsKey(x.Name));

    private IEnumerable<TreeModel> TreeItems;

    IList<TreeModel> ExpandedNodes = new List<TreeModel>();

    private TreeModel selectedNode;

    public async Task OnValidSetValue()
    {
        if (Repo != null && Item != null && !string.IsNullOrEmpty(Item.Name))
        {
            await adminService.SetRepoMetaValue(Repo.Id, Item.Name, Item.Value);
            Repo = await listsService.GetRepositoryById(Id.ToString());
            Item = new MetaItemEditModel();
        }
    }

    public async Task OnValidSubmitFolder()
    {
        FolderAddModel.RepositoryId = Repo.Id.ToString();
        FolderAddModel.ParentId = null;
        FolderAddModel.UserName = currentUser.UserName;

        var folder = await arcService.AddFolder(FolderAddModel);
        if (folder != null)
        {
            await JSRuntime.InvokeVoidAsync("closeDialog", "#dlg_AddFolder");
            toastService.ShowSuccess($"Folder '{folder.Name}' created successfully");
            FolderAddModel = new FolderAddModel();
            await LoadTree();
            StateHasChanged();
        }
        else
        {
            toastService.ShowError($"Failed to create folder '{FolderAddModel.Name}'");
        }
        // $('#myModal').modal('show')
        
    }

    protected override async Task OnParametersSetAsync()
    {
        currentUser = await currentUserService.GetCurrentUserAsync();
        Repo = await listsService.GetRepositoryById(Id.ToString());

        // TreeItems = await listsService.GetRepositoryFoldersTree(Repo.Id);
        await LoadTree();
    }

    protected override async Task OnInitializedAsync()
    {
        Fields = await listsService.GetMetaFieldsList();

    }

    protected override void OnInitialized()
    {
        ExpandedNodes.Add(TreeItems?.Skip(1).First());
        ExpandedNodes.Add(TreeItems?.Skip(1).Take(1).First().Childs.Skip(1).First());
    }

    private async Task LoadTree()
    {
        TreeItems = await listsService.GetRepositoryFoldersTree(Id);
    }

}
