@page "/users"

@using DAS.ViewModels
@using DAS.Services
@using Microsoft.AspNetCore.Identity

@inject IIdentityService identService
@inject IListsService listsService
@inject Microsoft.AspNetCore.Identity.UserManager<IdentityUser> userManager
@inject ICurrentUserService currentUserService
@inject IToastService toastService
@inject Microsoft.Extensions.Caching.Memory.IMemoryCache mem

@if(currentUser != null)
{
    <AuthorizeView Roles="Admin">
        <h3> @LocalService.Get("Users", currentUser.Lang)</h3>
        <div class="row mb-3">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <EditForm Context="formContext" Model="UserModel" OnValidSubmit="OnValidSubmit">
                            <div class="form-inline">
                                <div class="form-group mb-2">
                                    <label for="inputUserName" class="sr-only"> @LocalService.Get("User Name", currentUser.Lang)</label>
                                    <input @bind="UserModel.UserName" class="form-control" id="inputUserName" placeholder="@LocalService.Get("User Name", currentUser.Lang)">
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <label for="inputEmail" class="sr-only"> @LocalService.Get("Email", currentUser.Lang)</label>
                                    <input @bind="UserModel.Email" type="email" class="form-control" id="inputEmail" placeholder="@LocalService.Get("Email", currentUser.Lang)">
                                </div>
                                <button type="submit" class="btn btn-success mb-2"> @LocalService.Get("Add User", currentUser.Lang)</button>
                            </div>
                        </EditForm>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        @if (AppUsers == null)
                        {
                        <p> @LocalService.Get("Loading", currentUser.Lang)...</p>
                        }
                        else
                        {
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>@LocalService.Get("User Name", currentUser.Lang)</th>
                                        <th>@LocalService.Get("Admin", currentUser.Lang)</th>
                                        <th>@LocalService.Get("Archive", currentUser.Lang)</th>
                                        <th>@LocalService.Get("Public", currentUser.Lang)</th>
                                        <th>@LocalService.Get("Repositories", currentUser.Lang)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in AppUsers)
                                    {
                                        <tr class="@(user == CurrentUser ? "bg-info text-light" : "")">
                                            <td>@user.UserName</td>
                                            @if (user.IsAdmin)
                                            {
                                                <td><a class="text-success" @onclick="(() => RemoveFromRole(user.UserName, Constants.ROLE_ADMIN))"><i class="oi oi-check"></i></a></td>
                                            }
                                            else
                                            {
                                                <td><a class="text-danger" @onclick="(() => AddToRole(user.UserName, Constants.ROLE_ADMIN))"><i class="oi oi-x"></i></a></td>
                                            }
                                            @if (user.IsArchive)
                                            {
                                                <td><a class="text-success" @onclick="(() => RemoveFromRole(user.UserName, Constants.ROLE_ARCHIVE))"><i class="oi oi-check"></i></a></td>
                                            }
                                            else
                                            {
                                                <td><a class="text-danger" @onclick="(() => AddToRole(user.UserName, Constants.ROLE_ARCHIVE))"><i class="oi oi-x"></i></a></td>
                                            }
                                            @if (user.IsPublic)
                                            {
                                                <td><a class="text-success" @onclick="(() => RemoveFromRole(user.UserName, Constants.ROLE_PUBLIC))"><i class="oi oi-check"></i></a></td>
                                            }
                                            else
                                            {
                                                <td><a class="text-danger" @onclick="(() => AddToRole(user.UserName, Constants.ROLE_PUBLIC))"><i class="oi oi-x"></i></a></td>
                                            }
                                            <td>
                                                <a class="btn-link" style="cursor:pointer;" @onclick="(() => SelectUser(user))"><i class="oi oi-box"></i></a>
                                            </td>
                                            <td>
                                                <a class="btn-sm @(user.Lang == "ar" ? "btn-primary text-light" : "") mx-2" style="cursor:pointer;" @onclick="@(() => SelectLanguage("ar"))">Ar</a>
                                                <a class="btn-sm @(user.Lang == "en" ? "btn-primary text-light" : "") mx-2" style="cursor:pointer;" @onclick="@(() => SelectLanguage("en"))">En</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>

            <div class="col-6">
                @if (Repositories != null && Repositories.Count > 0 && CurrentUser != null)
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">@CurrentUser.UserName @LocalService.Get("Repositories", currentUser.Lang)</div>
                            <EditForm Context="from" Model="CurrentUser" OnValidSubmit="OnAddRepo">
                                <div class="form-inline">
                                    <div class="form-group mb-2">
                                        <label for="inputRepoToAdd" class="sr-only">@LocalService.Get("Repository", currentUser.Lang)</label>
                                        <InputSelect @bind-Value="CurrentUser.RepoToAdd" class="form-control" id="inputRepoToAdd">
                                            <option value=""> -- @LocalService.Get("Select Repository", currentUser.Lang) -- </option>
                                            @foreach (var item in Repositories.Where(x => !CurrentUser.Repositories.Contains(x.Key)))
                                                    {
                                                <option value="@item.Key.ToString()">@item.Value</option>
                                                    }
                                        </InputSelect>
                                    </div>
                                    <button type="submit" class="btn btn-success mx-2 mb-2">@LocalService.Get("Add", currentUser.Lang)</button>
                                </div>
                            </EditForm>
                            <table class="table mt-2">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>@LocalService.Get("Repository", currentUser.Lang)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var repoId in CurrentUser.Repositories)
                                    {
                                        <tr>
                                            <td>@Repositories[repoId]</td>
                                            <td><a @onclick="@(() => OnRemoveRepo(repoId))" class="btn-link text-danger" style="cursor: pointer;"><i class="oi oi-trash"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </AuthorizeView>
}



@code {

    public List<AppUser> AppUsers { get; set; }

    private CreateUserModel UserModel { get; set; } = new CreateUserModel();

    private Dictionary<int, string> Repositories { get; set; } = new Dictionary<int, string>();

    private AppUser CurrentUser { get; set; } = new AppUser();

    private AppUser currentUser;

    public void SelectUser(AppUser user)
    {
        CurrentUser = user;
        if(CurrentUser != null)
        {
            CurrentUser.RepoToAdd = null;
        }
    }

    public async Task SelectLanguage(string lang)
    {
        if(CurrentUser != null && !string.IsNullOrEmpty(lang))
        {
            var user = await userManager.FindByIdAsync(CurrentUser.Id);
            if(user != null)
            {
                var claims = await userManager.GetClaimsAsync(user);
                if(!claims.Any(x => x.Type == "Lang" && x.Value == lang))
                {

                    await userManager.AddClaimAsync(user, new System.Security.Claims.Claim("Lang", lang));
                    mem.Remove($"AppUser_{CurrentUser.UserName}");
                    await LoadUsers(CurrentUser.Id);
                }
                else
                {
                    var claim = claims.FirstOrDefault(x => x.Type == "Lang");

                    await userManager.ReplaceClaimAsync(user, claim, new System.Security.Claims.Claim("Lang", lang));
                    mem.Remove($"AppUser_{CurrentUser.UserName}");
                    await LoadUsers(CurrentUser.Id);
                }
            }
        }
    }

    public async Task OnAddRepo()
    {
        if(CurrentUser != null && !string.IsNullOrEmpty(CurrentUser.RepoToAdd))
        {
            var user = await userManager.FindByIdAsync(CurrentUser.Id);
            if(user != null)
            {
                var claims = await userManager.GetClaimsAsync(user);
                if(!claims.Any(x => x.Type == "RepositoryId" && x.Value == CurrentUser.RepoToAdd))
                {

                    await userManager.AddClaimAsync(user, new System.Security.Claims.Claim("RepositoryId", CurrentUser.RepoToAdd));
                    mem.Remove($"AppUser_{CurrentUser.UserName}");
                    await LoadUsers(CurrentUser.Id);
                }
            }
        }
    }

    public async Task OnRemoveRepo(int repoId)
    {
        if(CurrentUser != null)
        {
            var user = await userManager.FindByIdAsync(CurrentUser.Id);
            if(user != null)
            {
                var claims = await userManager.GetClaimsAsync(user);
                if(claims.Any(x => x.Type == "RepositoryId" && x.Value == repoId.ToString()))
                {

                    await userManager.RemoveClaimAsync(user, new System.Security.Claims.Claim("RepositoryId", repoId.ToString()));
                    mem.Remove($"AppUser_{CurrentUser.UserName}");
                    await LoadUsers(CurrentUser.Id);
                }
            }
        }
    }

    public async Task LoadUsers(string userId = null)
    {
        UserModel = new CreateUserModel();
        Repositories = (await listsService.GetRepositoryList()).ToDictionary(x => x.Id, y => y.Name);
        AppUsers = await identService.GetUsersAsync().ConfigureAwait(false);
        if (userId == null)
        {
            CurrentUser = AppUsers.FirstOrDefault();
        }
        else
        {
            CurrentUser = AppUsers.FirstOrDefault(x => x.Id == userId);

        }

        if (CurrentUser != null)
        {
            CurrentUser.RepoToAdd = null;
        }

    }

    public async Task OnValidSubmit()
    {
        var user = await identService.CreateUserAsync(UserModel?.UserName, UserModel?.Email).ConfigureAwait(false);
        if(user == null)
        {
            toastService.ShowError("Adding user failed", "Error");
        }
        else
        {
            toastService.ShowSuccess($"User {UserModel?.UserName} added successfully", "Success");
            await LoadUsers().ConfigureAwait(false);
        }

    }

    public async Task AddToRole(string userName, string role)
    {
        var result = await identService.AddUserRoleAsync(userName, role).ConfigureAwait(false);
        if(!result)
        {
            toastService.ShowError($"Failed to add user {userName} to {role} role", "Error");
        }
        else
        {
            toastService.ShowSuccess($"User {userName} added to {role} role successfully", "Success");
            await LoadUsers().ConfigureAwait(false);
        }
    }

    public async Task RemoveFromRole(string userName, string role)
    {
        var result = await identService.RemoveUserRoleAsync(userName, role).ConfigureAwait(false);
        if(!result)
        {
            toastService.ShowError($"Failed to remove user {userName} from {role} role", "Error");
        }
        else
        {
            toastService.ShowSuccess($"User {userName} removed from {role} role successfully", "Success");
            await LoadUsers().ConfigureAwait(false);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        currentUser = await currentUserService.GetCurrentUserAsync();
        await LoadUsers().ConfigureAwait(false);
    }
}
